<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Recommendation System</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Movies Recommender!</h1>
            <hr>
            <br>
            <form action="index_submit" method="get" accept-charset="utf-8">
                <p>
                    <input type="text" name="UserID" value="" placeholder="UserID">
                </p>
            	<p>
                    <a id="btnRecommend" href="recommend" class="btn btn-lg btn-primary">Get Recommendation</a>    
                </p>
            </form>
        </div>
 
        <div class="row marketing">
            
        </div>
 
        <footer class="footer">
            <p class="pull-right">&copy; Gabriel Amarista Rodrigues 2017</p>
        </footer>
 
    </div>
</body>
 
</html>