<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Recommendation System</title>
    <meta charset="UTF-8">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Movies Recommender!</h1>
            <hr>
            <br>
            <form action="/" method="POST" accept-charset="utf-8">
                <p>
                    <input type="text" id="UserID" name="UserID" value="" placeholder="UserID" autofocus required>
                </p>
            	<p>
                    <input type="submit" name="btnRecommend" class="btn btn-lg btn-primary" value="Get Recommendation">   
                </p>
            </form>
        </div>
 
        <div class="row marketing">
            {% for r in recommendations %}
                <p>{{ r }}</p>
            {% endfor %}
        </div>
 
        <footer class="footer">
            <p class="pull-right">&copy; Gabriel Amarista Rodrigues 2017</p>
        </footer>
 
    </div>

    <script type="text/javascript" src="javascript.js"></script>
</body>
 
</html>